<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>teamTwig</title>
</head>
<body>

<div class="container header">
    <nav class="navbar navbar-light" style="background-color: lightgrey">
        <!-- Navbar content -->
        <img src="LogoLiga.png" width="300"><h1>Männer-Fußball</h1>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Mannschaft auswählen</h2>
        </div>
    </div>

    <div class="row">
        {% for team in teams %}
            <div class="team col-md-4 {{ (team == selectedTeam) ? 'current' : '' }}">
                <a href="?id={{ team.id }}">
                    <img src="{{ team.icon }}" width='15'> {{ team.name }}
                </a>
            </div>
            {% endfor %}
    </div>
</div>
<div class="container">

    <h2>Ergebnisse von <img src="{{ selectedTeam.icon }}" width='25'> {{ selectedTeam.name }}:</h2>

    <table>
        <thead>
        <tr>
            <th>Team 1</th>
            <th>Team 2</th>
            <th>Results or Date</th>
        </tr>
        </thead>
        <tbody>
        {% for selectedMatch in selectedMatches %}

            {#<pre>#}
                {#{{ dump(selectedTeam) }}#}
            {#</pre>#}
            <tr>
                <td class="teams {{ (selectedTeam == selectedMatch.team1.id) ? 'current' : '' }}">
                    <a href="?id={{ selectedMatch.team1.id }}">
                        <img src="{{ selectedMatch.team1.icon }}"
                                       width='15'/> {{ selectedMatch.team1.name }}
                    </a>
                </td>
                <td class="teams {{ (selectedTeam == selectedMatch.team2.id) ? 'current' : '' }}">
                    <a href="?id={{ selectedMatch.team2.id }}">
                        <img src="{{ selectedMatch.team2.icon }}"
                                       width='15'/> {{ selectedMatch.team2.name }}
                    </a>
                </td>
                <td class="teams result">
                    {% if selectedMatch.matchIsFinished == true %}
                        {{ selectedMatch.halfTimeResult.pointsTeam1 }}:{{ selectedMatch.halfTimeResult.pointsTeam2 }}
                        ({{ selectedMatch.endResult.pointsTeam1 }}:{{ selectedMatch.endResult.pointsTeam2 }})
                    {% else %}
                        {{ selectedMatch.matchDateTime | date('d.m.Y H:i') }} Uhr
                    {% endif %}
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>